<div>
  <%= render "shared/back"%>
</div>
<div class="container-all">
  <div>
    <div class="text-center m-4">
      <h1><%= @professional.name %></h1>
      <h3><%= @professional.specialty%></h3>
    </div>
  </div>
  <div class="grid">
    <div id="info-pro">
      <div style="margin: 8px;" class="text-center">
        <%= cl_image_tag @professional.photo.key, crop: :fill, class:"rounded-4 mb-2", style:"width: 60%;"%>
      </div>
      <div class="d-flex flex-column justify-content-center" style="width: 100%;">
        <div class="card_pro">
          <h4>Contact : </h4>
          <p>Adresse : <%=@professional.address%></p>
          <p>Numéro de téléphone : 0<%=@professional.phone%></p>
          <p>Email : <%= @professional.email%></p>
        </div>
        <div class="card_pro">
          <h4>Description : </h4>
          <p><%=@professional.description%></p>
        </div>
        <div class="card_pro" data-controller="alert">
          <div class="d-flex flex-row justify-content-between">
            <h4>Les avis : </h4>
            <div class="d-flex flex-row align-items-center">
              <% @professional.rating.times do %>
                <i class="fas fa-star text-warning m-0"></i>
              <% end %>
              <% (5 - @professional.rating).times do %>
                <i class="fas fa-star text-muted m-0"></i>
              <% end %>
              <p class="m-0 mx-1">(<%=@reviews.count%>)</p>
            </div>
          </div>
          <%# list of reviews %>
          <div class="mt-2 d-flex flex-column justify-content-center align-items-center" id="reviews-container">
            <% if @reviews.empty? %>
              <div class="d-flex flex-column justify-content-center align-items-center", style="width: 24%;">
                <p class="text-center">Soyez le premier à mettre un avis !</p>
                <img src="https://res.cloudinary.com/dsbteudoz/image/upload/v1733931919/customer-feedback_r2zm9o.png">
              </div>
            <% else %>
              <% @reviews.each do |review| %>
                <div class="border-bottom mt-2" style="width: 100%;">
                  <div class="d-flex flex-row justify-content-between">
                    <p><%= review.user.first_name%> <%= review.user.last_name%></p>
                    <p><%= review.rating %> / 5</p>
                  </div>
                  <p><%= review.content %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <% if user_signed_in? %>
              <%= link_to "Ajouter un avis",
                          "#",
                          class: "btn btn-primary text-white mt-3 active",
                          style: "width: 80%;",
                          data: { controller: "alert", action: "click->alert#reviewSweetalert", professional_id: @professional.id } %>
            <% else %>
              <%= link_to "Ajouter un avis",
                          new_user_session_path,
                          class: "btn btn-secondary text-white mt-3",
                          style: "width: 80%;",
                          data: { controller: "alert", action: "click->alert#notConnectedSweetalert"}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="available-pro", style="position: sticky; top: 100px;">
      <%= render "shared/available_slots", professional: @professional %>
    </div>
  </div>
</div>
