<%= turbo_frame_tag :appointment_details do %>
  <h5 class="text-start m-4"> <strong>Détail du rendez-vous : </strong> </h5>
  <% @appointment = Appointment.find(appointment) %>
  <div class="card_pro d-flex flex-row justify-content-between">
    <div>
      <div class="d-flex flex-row">
        <p>Nom : </p>
        <h5 class="mx-2"> <strong><%= @appointment.user.first_name%> <%= @appointment.user.last_name%></strong></h5>
      </div>
      <div class="d-flex flex-row my-1 mt-4">
        <p>Animal concerné : </p>
        <p class="mx-2"> <%= Pet.find(@appointment.pet_id).name%> </p>
      </div>
      <div class="d-flex flex-row my-1">
        <p>Type : </p>
        <p class="mx-2"> <%= Pet.find(@appointment.pet_id).species%> </p>
      </div>
      <div class="d-flex flex-row my-1">
        <p>Motif du rendez-vous : </p>
        <p class="mx-2"> <%= @appointment.reason%> </p>
      </div>
    </div>
    <div>
      <%= cl_image_tag Pet.find(@appointment.pet_id).photo.key,  style:"width: 100px; aspect-ratio:1; border-radius: 20px" %>
    </div>
  </div>
<% end %>
