<div>
  <%= render "shared/back"%>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-sm-10 card_pro">
      <%= image_tag @animal.photo, class: "card-img-top w-100 h-100", style: "object-fit: cover" if @animal.photo.present? %>
    </div>
    <div class="col-lg-5 col-sm-10 card_pro d-flex flex-column justify-content-between">
      <div>
        <h3 class="text-center m-3"><strong><%= @animal.name %></strong></h3>
        <p class="my-2">Âge: <%= @animal.age %></p>
        <p>Sexe: <%= @animal.sex %></p>
        <p class="my-2">Race: <%= @animal.species %></p>
        <p>Description: <%= @animal.description %></p>
        <p class="my-2">Refuge: <%=@animal.shelter%></p>
      </div>
      <div>
        <p style="font-size: 36px"> <i class="fa-solid fa-paw float-end text-primary"></i></p>
      </div>
    </div>
  </div>
</div>
