<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-devise">
        <i class="fa-solid fa-paw float-end text-primary"></i>
        <h2>Donnez votre avis ! </h2>
        <p>Qu'avez-vous pensé de votre expérience avec <%=@professional.name%> ?</p>

        <%= simple_form_for [@professional, @review] do |r| %>
          <%= r.input :rating, label: "Note sur 5", collection: 1..5, as: :radio_buttons%>
          <%= r.input :content, label: "Commentaire", as: :text %>
          <%= r.button :submit, "Valider", class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
